*{ margin: 0 auto; padding: 0;}
body{ background-color: #D6DDED; max-width: 1440px;}
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{display: flex; justify-content: space-between; margin-left: 150px;
margin-right: 150px;}
.logo-section{ background-image: url("/images/Hero-bg.png"); background-repeat: no-repeat; width: 1440px; height: 698px; }
section h2{ margin-top: 50px;}
section button{width:132px; height: 48px; margin-top: 50px; font-size: 34px;}


/* common-style */
.common-color{color: #4E47FF;}
.dark-color{ color: #252432;}
.common-btn{background-color:  #4E47FF;color:#FFFFFF ; border: none; border-radius: 10px; font-size: 16px;}

.logo-section { text-align: center; }
section h1{ margin-top:158px ;}
section .btn-2{ margin-top: 49px; width: 174px; height: 48px; }

.action-section{ margin-top: 116px;}
.action-container{display: flex; justify-content:space-between;  width: 1140px;}
.btn-3{ width: 229px; height: 48px; margin-top: 23px;}
.btn-3 a{ text-decoration: none; color: #FFFFFF;}
.action-imag{ border: 5px solid blue; border-radius: 48px; margin-left: 210px;}
.section-title{margin-bottom: 23px; font-size: 42px; font-weight: bold;}
.section-description{ font-style: 24px; font-weight: 600px; color: #252432;}

/* user reviw */
.user-container{text-align: center; width: 1140px; height: 306px; background-color: #4d47ff2d; margin-top: 116px; border-radius: 24px ;}

.user-reviw{ display: flex; }


.user-number{font-size: 80px; font-weight: bold;}
.about-user{font-size: 38px; padding-top: 50px; padding-bottom: 40px;}



/* banner2 */

.banner{ width: 1140; height: 696px;  background-color: #FFFFFF; margin-top: 137px; border-radius:14px ;}
.ban-btn{width: 195px; height: 48px; margin-bottom: 20px;margin-top: 20px;}
.banner-nam{ padding-top: 71px; margin-bottom: 20px; font-size: 50px; font-weight: bold;}

.banner-pic{ border: 4px solid blue; border-radius: 40px;}


/* footer ar style  */

.section-footer{ width: 1140px; height: 632px; display: flex; justify-content: center; align-items: center;}
.section-footer h1{ text-align: left; justify-content: center; margin-bottom: 200px; font-size: 96px; font-weight: bold;}

.section-footer form{width: 497px; height: 490px; text-align: left; margin-top:71px ; margin-left: 117px;}

.section-footer form label{ font-size: 18px; font-weight: 500;}
input{ width: 497px; font-size: 20px; padding-left: 30px; height: 70px; margin-bottom: 51px;}
textarea{ width: 497px; height: 135px; font-size: 20px; padding-left: 30px;}
.last-btn{width: 497px; height: 62px; font-size: 16px; font-weight: bold; margin-top: 19px;}







button:hover {
  background-color: #ff2df1;
}

